<template>
  <div class="home">
    <HelloWorld />
  </div>
</template>

<script>
import HelloWorld from '@/usecase/@component/data-structures/hello-world.vue'

export default {
  name: 'Home',
  components: {
    HelloWorld
  }
}
</script>
